/* CSS for the Card Component */

.card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 20%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 25px;
  }

  p {
      color: white;
  }

